In [1]:
import pandas as pd

## Raw code

In [2]:
data = {'Feature 1': [1, 20, 3, 40, 5],
        'Feature 2': [6, 7, 18, 19, 10]}

df = pd.DataFrame(data)
df.head()

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [25]:
def standardize_data(column):
    mean = column.mean()
    std_dev = column.std(ddof=0)
    standardized_column = (column - mean) / std_dev
    return standardized_column

In [26]:
standardize_raw_data = df.apply(standardize_data)

In [27]:
print("Standardize Dataframe: ")
print(standardize_raw_data)

Standardize Dataframe:
   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148

## Sklearn

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
df

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [30]:
scaler = StandardScaler()
standardize_data = scaler.fit_transform(df)
standardize_df = pd.DataFrame(standardize_data, columns=df.columns)

In [31]:
standardize_df

   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148