### Process

1. Create a new project in the Google cloud
2. Enable Google Drive and sheet api
3. Go to credentials -> Create credentials ->  service account.
4. Give a service account name
5. Manage service account -> Actions -> Manage Keys -> Add key -> Create new key
6. Share the service account address with the Google sheet that needs to be accessed

In [1]:
import pandas as pd
import gspread

In [2]:
gc = gspread.service_account(filename="pandas-with-c22c4492235d.json")
gc

In [3]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1rjR8xv6x3ep3ffbtdX3yxzgv9HSUWTTr_rQv7TZ-Ri4/edit?usp=sharing")
ws = sheet.worksheet('Sheet1')

In [11]:
df = pd.DataFrame(ws.get_all_records(expected_headers=[
    "Name",  # Note the leading space!
    "Appointment Date",
    "Applying For",
    "Offer Letter",
    "Defferment",
    "Enrolled",
    "Block money",
    "Facebook ID Link",
    "University"
]))
df.head()

,Name,Appointment Date,Applying For,Offer Letter,Defferment,Enrolled,Block money,Facebook ID Link,University,
0,Mehrun Nesa,27-Apr-2023,Bachelor's,Yes! ✌️,No,Yes,Yes,https://www.facebook.com/profile.php?id=100055...,Hamm lippstadt University,
1,MD SEZAN SARDAR,11-Apr-2023,Bachelor's,Yes! ✌️,Yes,Yes,No,,deggendorf institute of technology,Bachelor's = 1
2,MD Abdullah Al Mamun,12-Apr-2023,Bachelor's,Yes! ✌️,No,Yes,No,https://www.facebook.com/amisai.amisai.7/,DIT,
3,Tanbir Alam,14-Apr-2023,Bachelor's,Yes! ✌️,Yes,Yes,No,https://www.facebook.com/tanvir.alom.771?mibex...,DIT,
4,Amit Hasan,2-Apr-2023,Bachelor's,Yes! ✌️,Yes,Yes,No,https://www.facebook.com/profile.php?id=100035...,Fulda university of applied science,