Read csv file

In [ ]:
import csv

with open('Coordinates.csv', newline='') as myFile:  
    reader = csv.reader(myFile)
    for row in reader:
        print(row)

['Star', 'x', 'y', 'z']
['Sun', '0', '0', '0']
['Proxima Centauri', '176', '-406', '-49']
['Lalande 21185', '552', '-473', '-38']
['Lacaille 9352', '-848', '-540', '0']
["Luyten's Star", '-849', '-542', '0']
['YZ Ceti', '-280', '1568', '40']
['Tau Ceti', '-1389', '-2353', '182']
['Gliese 1061', '-2240', '-942', '838']

In [3]:
import pandas as pd

path = "Coordinates.csv"
df = pd.read_csv(path)
df.head(3)

               Star    x    y   z
0               Sun    0    0   0
1  Proxima Centauri  176 -406 -49
2     Lalande 21185  552 -473 -38

Write csv file

In [2]:
import csv

fruits = [['Apple', 'Orange', 'Banana', 'Grapes'], [20, 30, 50, 10]]

with open('fruits.csv', 'w', newline='') as csv_file:
    writer = csv.writer(csv_file, delimiter = ',')
    for fruit in fruits:
        writer.writerow(fruit)

In [ ]:
import csv

some_list=[['apples', 'oranges', 'grapes', 'mangoes'], [20, 25, 42, 35]]
output_file = open('fruits.csv', 'w')
with output_file:  
   writer = csv.writer(output_file)
   writer.writerows(some_list)

In [ ]:
#Adding header and rows..

import csv

header = ['name', 'age', 'ZIP']
rows = [['John', 30, 94568],
        ['Mary', 40, 94588],
        ['Henry', 50, 94566]]

with open('people.csv', 'w') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerow(header)
    for row in rows:
        csv_writer.writerow(row)

In [3]:
#Using dictwriter
import csv      

header = ['name', 'age', 'ZIP']        
rows = [{'name':'John', 'age':30, 'ZIP':94568},
        {'name':'Mary', 'age':40, 'ZIP':94588},
        {'name':'Henry', 'age':50, 'ZIP':94566},
        ]

with open('people.csv', 'w') as f:
    csv_writer = csv.DictWriter(f, fieldnames= header)
    csv_writer.writeheader()
    csv_writer.writerows(rows)