In [15]:
import itertools
import pandas as pd

# The new library!
from thefuzz import fuzz, process

In [16]:
df1 = pd.read_csv('companies_1.csv')
df2 = pd.read_csv('companies_2.csv')

In [17]:
df1['CLIENT'].values

array(['Adobe Systems, Inc.', 'Adventist Health', 'AECOM',
       'Aerojet Rockedyne Holdings (GenCorp)',
       'Alameda-Contra Costa Transit District',
       'Alaska Community Foundation',
       'Alaska Retirement Management Board', 'Alexander & Baldwin, Inc.',
       'Allergan, Inc.'], dtype=object)

>>> A = ["Apple", "Alphabet", "Microsoft"]
>>> B = ["MSFT", "Alphabet/Google", "Apple inc."]

>>> list(itertools.product(A, B))
[
 ('Apple', 'MSFT'),
 ('Apple', 'Alphabet/Google'),
 ('Apple', 'Apple inc.'),
 ('Alphabet', 'MSFT'),
 ('Alphabet', 'Alphabet/Google'),
 ('Alphabet', 'Apple inc.'),
 ('Microsoft', 'MSFT'),
 ('Microsoft', 'Alphabet/Google'),
 ('Microsoft', 'Apple inc.')
]

In [18]:
df = pd.DataFrame(itertools.product(df1['CLIENT'].values, df2['Firm Name'].values), columns=['CSV 1', 'CSV 2'])
df.head()

                 CSV 1                                              CSV 2
0  Adobe Systems, Inc.  AAA Northern California, Nevada & Utah Auto Ex...
1  Adobe Systems, Inc.                            ACCO Engineered Systems
2  Adobe Systems, Inc.                       Adams County Retirement Plan
3  Adobe Systems, Inc.                               Adidas America, Inc.
4  Adobe Systems, Inc.                                Adobe Systems, Inc.

# Calculating the Levenshtein distance
We're going to use the partial_ratio function from the fuzz module to compute the "distance" between two strings. The result is a number between 0 and 100, with 100 indicating a "perfect" match. Please keep in mind that this method is not perfect, as shown in the examples about Microsoft in the notebook.

In [21]:
score = [fuzz.partial_ratio(c1, c2) for c1, c2 in df.values]

In [25]:
df['Ratio Score'] = score
df.head(10)

,CSV 1,CSV 2,Ratio Score
0,"Adobe Systems, Inc.","AAA Northern California, Nevada & Utah Auto Ex...",32
1,"Adobe Systems, Inc.",ACCO Engineered Systems,64
2,"Adobe Systems, Inc.",Adams County Retirement Plan,41
3,"Adobe Systems, Inc.","Adidas America, Inc.",50
4,"Adobe Systems, Inc.","Adobe Systems, Inc.",100
5,"Adobe Systems, Inc.","Advanced Micro Devices, Inc.",59
6,"Adobe Systems, Inc.",AECOM Technology Corporation,29
7,"Adobe Systems, Inc.",Aera Energy LLC,35
8,"Adobe Systems, Inc.","Aerojet Rocketdyne Holdings, Inc.",54
9,Adventist Health,"AAA Northern California, Nevada & Utah Auto Ex...",38

In [26]:
df[df['Ratio Score'] > 90]

                  CSV 1                         CSV 2  Ratio Score
4   Adobe Systems, Inc.           Adobe Systems, Inc.          100
24                AECOM  AECOM Technology Corporation          100